*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
.main_box{
    background: url(SGBTp8.png);
    height:100vh;
    background-size: cover;
}
.mypic img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 2px solid gray;
    position: absolute;
    right: 50px;
    top: 20px;

}
.btn_one i{
    color:black;
    font-size: 30px;
    font-weight: 700;
    position:absolute;
    left:16px;
    line-height: 60px ;
    cursor:pointer;
    transition: 0.5s;
}
.sidebar_menu{
    position: fixed;
    left: -300px;
     height: 100vh;
    width: 300px;
    background-color:rgb(46, 43, 43, 0.1) ;
    box-shadow: 0 0 6px rgb(195, 187, 187,0.5); 
    transition: 0.5s;

}
.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 0 4px rgb(195, 187, 187,0.5);
    height: 50px;

} 
.sidebar_menu .logo a{
    position: absolute;
    left: 50px;
    color: rgb(228, 19, 19);
    text-decoration: none;
    font-size: 20px;
    font-weight: 30%; 
} 
.sidebar_menu .menu{
    position: absolute;
    width:100%;
    top:60px;
}
.sidebar_menu .btn_two i{
    color:black;
    font-size: 20px;
    font-weight: 700;
    line-height: 60px ;
    position: absolute;
    left:275px;
    opacity: 0%;
    cursor:pointer;
    transition: 0.5s;
}
.sidebar_menu .menu li{
    margin-top: 6px;
    padding: 10px 20px;
}
.sidebar_menu .menu i,a{
    color:black;
    text-decoration: none;
    font-size: 20px;

}
.sidebar_menu .menu i{
    padding-right: 8px;
}

.sidebar_menu .social_media{
    position: absolute;
    left: 25%;
    bottom: 50px;
}
.sidebar_menu .social_media i{
    color:white;
    opacity: 0.5;
    padding: 0 5px;
}

#check{
    display: none;
}

.sidebar_menu .menu li:hover{
    box-shadow: 0 0 4px rgba(20, 19, 19, 0.5);

}
.btn_one i:hover{
    font-size: 40px;

}
.btn_two i:hover{
    font-size: 30px;
}
.sidebar_menu .social_media i:hover{
    opacity: 1;
    transform: scale(1.5);
}
#check:checked ~.sidebar_menu{
    left:0;
}
#check:checked ~.btn_one i{
    opacity:0;
}
#check:checked ~.sidebar_menu .btn_two i{
    opacity: 1;
}
.main_box .myself .name {
    position: absolute;
    justify-content: center;
    left: 600px;
    top:20px;
    font-family: 'Playfair Display', serif;
    color: red;
    text-decoration: underline;
}
.main_box .aboutme{
    position: relative;
    left: 300px;
    top: 200px;
    width: 700px;
    

}
.main_box .aboutme h2{
    position: relative;
   
    text-decoration: underline;
}
.main_box .aboutme p{
    position:absolute ;

}
.main_box .mypic h1{
    position: absolute;
    right: 80px;
    top: 330px;

}
.main_box .portfolio{
    position: relative;
    top: 350px;

}
